<%= render "shared/header" %>
<div class="foods-main">
  <div class="item-question">
    <div>冷蔵庫の中身</div>
    <% @foods.each do |food| %>
      <div class="item">
        <div class="item-name">
          <%= food.item %><br>
        </div>
        <%= link_to "削除",  fridge_food_path(food.id), method: :delete, class:"food-delite-btn" %>
      </div>
    <% end %>
    <div class="add-item">
      <%= form_with url:fridge_food_path(:id),method: :put, model: @food ,local: true do |f| %>
        <%= f.text_field :item, class:"input", id:"name" ,placeholder:"1~12字", maxlength:"12"%>
        <%= f.submit "追加", class:"add-btn" %>
      <% end %>
    </div>
  </div>
  <div class="item-answer">
    <%= form_with url:search_fridge_foods_path(:id), method: :get,local: true do |f| %>
      <%= f.submit "食事を作る！" %>
      ※30秒程かかる場合があります
    <% end %>
    <%# @recipeがある場合表示する %>
    <% if @recipe %>
      <div class="recipe">
        <h2>調理可能な食事</h2>
        <div class="recipe-title">
          <%= @recipe%>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= render "shared/footer" %>